@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 maintitle">Ping Pong at the Forge</h1>
    <p>More to come...</a>.</p>
    <p>Stay tuned!!</p>
</div>
