@page
@model PingPongTracker.Pages.Admin.GamePlay.EditGameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit a Game";
}

<div class="text-center">
    <h3 class="display-4">Edit Game</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="p-2" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="GameToEdit.GameId" />
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label for="Team1Id" class="form-label col-form-label-sm">Team 1</label>
                    <select class="form-control form-control-sm" asp-for="GameToEdit.Team1Id"
                        asp-items="Model.TeamSelectList"></select>
                </div>
                <div class="col-md-3">
                    <label for="Team1Score" class="form-label col-form-label-sm">Score</label>
                    <input type="number" class="form-control form-control-sm" asp-for="GameToEdit.Team1Score" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label for="Team2Id" class="form-label col-form-label-sm">Team 2</label>
                    <select class="form-control form-control-sm" asp-for="GameToEdit.Team2Id"
                        asp-items="Model.TeamSelectList"></select>
                </div>
                <div class="col-md-3">
                    <label for="Team2Score" class="form-label col-form-label-sm">Score</label>
                    <input type="number" class="form-control form-control-sm" asp-for="GameToEdit.Team2Score" />
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-primary">Add Game</button>
        </form>
    </div>
</div>

<br />
<p>
<h5><a asp-page="/Admin/GamePlay/Tournament">Cancel - Return to Tournament</a></h5>
</p>
