@page
@model PingPongTracker.Pages.Admin.GamePlay.TourneyAcceptModel
@{
    ViewData["Title"] = "Prepare a Tournament";
}

<div class="text-center">
    <h3 class="display-4">Prepare a Tournament</h3>    
</div>
<br />
<br />
