@page
@model PingPongTracker.Pages.Admin.AddSeasonModel
@{
    ViewData["Title"] = "Add Season";
}

<div class"text-center">
    <h1 class="display-4">Add Season</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="p-2" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="seassonname" class="form-label col-form-label-sm">Season Name</label>
                <input type="text" class="form-control form-control-sm" asp-for="SeasonToAdd.SeasonName" />
                <div asp-validation-for="SeasonToAdd.SeasonName" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="startdate" class="form-label col-form-label-sm">Start Date</label>
                <input type="date" class="form-control form-control-sm" asp-for="SeasonToAdd.SeasonStart" value=@DateTime.Today.ToString("YYYY-MM-DD") />
                <div asp-validation-for="SeasonToAdd.SeasonStart" class="text-danger"></div>
            </div>
            <div class="mb-1">
                    <label for="active" class="form-label col-form-label-sm">Active</label>
                    <input type="checkbox" class="form-control form-control-sm form-check-input" asp-for="SeasonToAdd.Active" >						
				</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<p>
    <h5><a asp-page="Seasons" >Cancel - Return to Seasons</a></h5>
</p>