@page
@model PingPongTracker.Pages.Admin.EditGameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="p-2" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="GameToEdit.GameId" />
                <input type="hidden" asp-for="GameToEdit.MatchupDate" />
                <input type="hidden" asp-for="GameToEdit.SeasonId" />
                <input type="hidden" asp-for="GameToEdit.Team1Player1Id" />
                <input type="hidden" asp-for="GameToEdit.Team1Player2Id" />
                <input type="hidden" asp-for="GameToEdit.Team2Player1Id" />
                <input type="hidden" asp-for="GameToEdit.Team2Player2Id" />
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label for="Team1Name" class="form-label col-form-label-sm">Team 1</label>
                    <input type="text" class="form-control form-control-sm" asp-for="GameToEdit.Team1Name" readonly />
                </div>
                <div class="col-md-3">
                    <label for="Team1Score" class="form-label col-form-label-sm">Score</label>
                    <input type="number" class="form-control form-control-sm" asp-for="GameToEdit.Team1Score" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label for="Team2Name" class="form-label col-form-label-sm">Team 2</label>
                    <input type="text" class="form-control form-control-sm" asp-for="GameToEdit.Team2Name" readonly />
                </div>
                <div class="col-md-3">
                    <label for="Team2Score" class="form-label col-form-label-sm">Score</label>
                    <input type="number" class="form-control form-control-sm" asp-for="GameToEdit.Team2Score" />
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-primary">Edit Game</button>
        </form>
    </div>
</div>

<br />
<p>
<h5><a asp-page="/Admin/Games">Cancel - Return to Games</a></h5>
</p>
