@page
@model PingPongTracker.Pages.Admin.MaintenanceModel
@{
    ViewData["Title"] = "Maintenance";
}

<div class="text-center">
    <h1 class="display-4">Maintenance</h1>    
</div>

@foreach (var item in Model.Options)
{
    <p>
        <h5><a asp-page=@item.Page>@item.Name</a></h5>
    </p>
}