@page
@model PingPongTracker.Pages.Admin.MaitenanceModel
@{
    ViewData["Title"] = "Maintenance";
}

<div class="text-center">
    <h1 class="display-4">Maintenance</h1>    
</div>

<p>
    <h5><a asp-page="Players" >Player Management</a></h5>
</p>
