@page
@model PingPongTracker.Pages.Admin.SeasonModel
@{
    ViewData["Title"] = "Season";
}

<div class="text-center">
    <h3 class="display-4">Seasons</h3>    
</div>

<p>
    <h3><a asp-page="AddSeason" >Create a New Season</a></h3>
</p>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Season</th>
            <th scope="col">Start Date</th>            
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var season in Model.Seasons)
        {
            <tr>
                <td>@season.SeasonName</td>
                <td>@season.SeasonStart</td>                
                <td>@season.Active</td>
            </tr>
        }
    </tbody>
</table>